<div class="login-additional-content-title" style="margin-left: 28px;font-size: 16px;color: #1A202C;">
    {{ 'UI:Login:AdditionalContent:What' |dict_s }}
</div>
<div class="row">
    <img src="../data/1.png" style="">
    <div style="">
        <h1 style="color: #2D3748;font-size: 12px;font-weight: normal;"> {{ 'UI:Login:AdditionalContent:Personalize' |dict_s }} </h1>
        {{ 'UI:Login:AdditionalContent:Personalize+' |dict_s }}
    </div>
</div><div class="row">
    <img src="../data/2.png">
    <div >
        <h1 style="color: #2D3748;font-size: 12px;font-weight: normal;">{{ 'UI:Login:AdditionalContent:Freedom' |dict_s }}</h1>
        {{ 'UI:Login:AdditionalContent:Freedom+' |dict_s }}
    </div>
</div><div class="row">
    <img src="../data/3.png">
    <div><h1 style="color: #2D3748;font-size: 12px;font-weight: normal;">{{ 'UI:Login:AdditionalContent:Simplicity' |dict_s }}</h1>
        {{ 'UI:Login:AdditionalContent:Simplicity+' |dict_s }}
    </div>
</div><div class="row">
    <img src="../data/4.png">
    <div><h1 style="color: #2D3748;font-size: 12px;font-weight: normal;">{{ 'UI:Login:AdditionalContent:Reactivity' |dict_s }}</h1>
        {{ 'UI:Login:AdditionalContent:Reactivity+' |dict_s }}
    </div>
</div>